* {
  font-family: fantasy;
}

/* Header */

.header {
  display: flex;
  background-color: #1f2937;
  color: #f9faf8;
  height: 60px;
  /* Happy with this bit so far */
}

.logo {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  padding: 24px;
  /* Happy with this bit so far */
}

/* Section 1 */

.hero-one {
  display: flex;
  background-color: #1f2937;
  color: #f9faf8;
  height: 370px;
}

.hero-one-left {
  display: flex;
  flex-direction: column;
  padding: 50px 50px 100px 50px;
  align-items: flex-start;
}

.hero-one-right {
  display: flex;
  padding: 50px 100px 100px 50px;
}

ul {
  list-style-type: none;
}

.this-website-is-awesome {
  font-size: 48px;
  font-weight: bolder;
}

.button {
  background-color: #3882f6;
}
